<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="7cbe39b4-c079-4aab-9758-d8b663104ee1"
    Publisher="CN=Francisco Pinto"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="7cbe39b4-c079-4aab-9758-d8b663104ee1" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Minesweeper(UWP)</DisplayName>
    <PublisherDisplayName>Francisco Pinto</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Minesweeper_UWP_.App">
      <uap:VisualElements
        DisplayName="Minesweeper"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Description="Minesweeper(UWP)"
        BackgroundColor="transparent" Square44x44Logo="Assets\IconBomba.scale-100.png.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="Minesweeper" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="#ffffff"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>